force-app/main/default/flows/Get_Win_Stories_From_Prompt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_2_Relevant_Win_Stories</name>
        <label>Find 2 Relevant Win Stories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Relevant_Win_Stories_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_JSON_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Opportunity</name>
            <value>
                <elementReference>Get_Opportunity_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Relevant_Win_Stories_Prompt</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Win stories from prompt template flow.</description>
    <environments>Default</environments>
    <interviewLabel>Get Win Stories From Prompt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Win Stories From Prompt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_2_Relevant_Win_Stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_JSON_Response</name>
        <label>Update JSON Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Win_Story_JSON_Response__c</field>
            <value>
                <elementReference>promptResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inferredIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
