force-app/main/default/flows/SDO_SFS_Update_SA_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_SA_Status</name>
        <label>Update SA Status</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>SDO_SFS_UpdateAppointmentStatuses</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessMsg</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>To_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>ServiceTerritory.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SDO_SFS_UpdateAppointmentStatuses</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Update SA status to show in Gantt</description>
    <environments>Default</environments>
    <interviewLabel>SDO SFS Update SA Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS Update SA Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_Resources</name>
        <label>Select Resources</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_SA_Status</targetReference>
        </connector>
        <fields>
            <name>Select_Resources_and_Dates</name>
            <fieldText>Select Resources and Dates</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Resources_and_Dates_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>From_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>From Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ServiceTerritory</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ServiceTerritoryId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Territory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ServiceAppointment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Resources_and_Dates_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>To_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>To Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;*Ensure you are giving right dates&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessMsg</name>
        <label>SuccessMsg</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Service Appointment Status Updated Successfully! Check the Gantt Now&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Resources</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
