force-app/main/default/flows/Win_Story_Opportunity_Populate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Query the highspot agent.</description>
        <name>HighSpotAgent_Query</name>
        <label>HighSpotAgent Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Agentforce_Highspot_Agent</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>HighSpotAgent_WinStory_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Use the &apos;Opportunity Values&apos; action to infer the industry: {!$Record.ai_Industry__c} that the current opportunity: {!$Record.Name} is in. Respond with one word: Only the industry of the current opportunity.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Agentforce_Highspot_Agent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Receive the similar win stories from the agent based on Industry.</description>
        <name>HighSpotAgent_WinStory_Response</name>
        <label>HighSpotAgent WinStory Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Agentforce_Highspot_Agent</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Update_Suggested_Win_Stories</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>HighSpotAgent_WinStory_Response.sessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Use the &apos;Answer Questions With Knowledge&apos; Action to find Customer win stories in the following Industry: {!HighSpotAgent_Query.agentResponse}.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Agentforce_Highspot_Agent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <description>Populate Opportunities in Discovery stage with relevant win stories.</description>
    <environments>Default</environments>
    <interviewLabel>Win Story Opportunity Populate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Win Story Opportunity Populate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the suggested win stories record in the opportunity</description>
        <name>Update_Suggested_Win_Stories</name>
        <label>Update Suggested Win Stories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Suggested_Win_Stories__c</field>
            <value>
                <elementReference>HighSpotAgent_WinStory_Response.agentResponse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Generate_Win_Stories_Asynchronously</name>
            <connector>
                <targetReference>HighSpotAgent_Query</targetReference>
            </connector>
            <label>Generate Win Stories Asynchronously</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
